body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Karla', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.flexible-1 {
    display: flex;
    margin-top: 7%;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

div img {
    width: 60%;
}

#focused {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
}

#mission {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
    margin-top: -60px;
    color: orange;
}

.border {
    border-left: 6px solid salmon;
    padding-left: 20px;
}

p {
    font-family: 'Dancing Script', cursive;
    font-family: 'Karla', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    font-weight: 400;
    color: rgb(59, 55, 55);
}

.button {
    text-decoration: none;
    background-color: rgb(245, 93, 93);
    padding: 15px 40px;
    border-radius: 7px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Karla', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
}

.orange {
    color: orange;
}

#twenty-two {
    text-align: center;
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
}

.flexible-2 {
    display: flex;
    padding-left: 10%;
    padding-right: 8%;
}

.flexible-2 img {
    height: 220px;
}

#first-box {
    width: 30%;
    background-color: rgb(234, 247, 246);
    border-radius: 30px;
    margin-right: 30px;
    box-sizing: border-box;
    padding: 20px 40px 30px;
    /* height: 15%; */
}

#second-box {
    width: 30%;
    background-color: rgb(249, 231, 234);
    border-radius: 30px;
    margin-right: 30px;
    box-sizing: border-box;
    padding: 20px 40px 30px;
    /* height: 100px; */
}

#third-box {
    width: 30%;
    background-color: rgb(248, 235, 217);
    border-radius: 30px;
    margin-right: 30px;
    box-sizing: border-box;
    padding: 20px 40px 30px;
    /* height: 15%; */
}

.middle-page1 {
    height: 550px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: 5.5% 20%;
}

h3 {
    font-size: 30px;
}

.middle-page1 div img {
    height: 400px;
    width: 400px;
}

.develope {
    margin-left: 5%;
}

.develope h3 {
    font-size: 40px;
    font-weight: 900;
}

.flexible-3 {
    display: flex;
    margin-top: -3%;
    background-image: url(shape-2.png);
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: 88% 70%;
    height: 700px;
}

.half-width h3 {
    font-size: 40px;
    font-weight: 900;
}

footer {
    /* margin-top: 20%; */
    background-color: rgb(1, 1, 40);
    height: 200px;
    padding-top: +20px;
    text-align: center;
}

#lobster {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
    /* text-align: center; */
    /* padding-top: 30px; */
    color: whitesmoke;
}

#lobster span {
    color: salmon;
}

footer p {
    color: aliceblue;
}